<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.supersonic.chat.server.persistence.mapper.AgentDOMapper">
  <resultMap id="BaseResultMap" type="com.tencent.supersonic.chat.server.persistence.dataobject.AgentDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="examples" jdbcType="VARCHAR" property="examples" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="config" jdbcType="VARCHAR" property="config" />
    <result column="llm_config" jdbcType="VARCHAR" property="llmConfig" />
    <result column="multi_turn_config" jdbcType="VARCHAR" property="multiTurnConfig" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="enable_search" jdbcType="VARCHAR" property="enableSearch" />
  </resultMap>

  <select id="listAgentByAuth" parameterType="String" resultMap="BaseResultMap">
    SELECT
    id,
    name,
    description,
    examples,
    status,
    model,
    config,
    llm_config,
    multi_turn_config,
    created_at,
    updated_at,
    created_by,
    updated_by,
    enable_search
    FROM
    (select DISTINCT s2a.*  from s2_user s2u
                          join s2_user_role_rela surr on s2u.id = surr.user_id
                          join s2_role sr on surr.role_id = sr.id
                          join s2_authority sa on sr.id = sa.role_id
                          join s2_agent s2a on s2a.id = sa.authority_entity_id and sr.id = sa.role_id
     where s2u.name = #{name}
     and sr.is_enable = 1 and s2a.status  = 1
     )t

  </select>


</mapper>
