target/
.idea/
.vscode/
logs/
log/
*.DS_Store
*.iml
*.bin
*.log
*.tar.gz
*.zip
*.lib
assembly/runtime/*
**/dist/
*.umi/
/assembly/deploy
/runtime
**/.flattened-pom.xml
chm_db/
__pycache__/
/dict
assembly/build/*-SNAPSHOT
**/node_modules/