@import '../../styles/index.less';

@chat-item-prefix-cls: ~'@{supersonic-chat-prefix}-item';

.@{chat-item-prefix-cls} {
  display: flex;
  
  &-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin-right: 6px;
    border-radius: 50%;
    color: var(--chat-blue);
    background-color: #fff;
  }

  &-content {
    // flex: 1;
    width: calc(100% - 50px);
  }

  &-metric-info-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &-typing {
    width: 100%;
    padding: 0 5px;

    .ant-spin-dot {
      width: 100% !important;
      height: 100% !important;
    }
  }

  &-typing-bubble {
    width: fit-content;
    padding: 8px 16px !important;
  }

  &-text-bubble {
    width: fit-content;
  }

  &-text {
    line-height: 1.5;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    user-select: text;
  }
}
