@font-face {
  font-family: "iconfont"; /* Project id 2436113 */
  src: url('iconfont.woff2?t=1659425018463') format('woff2'),
       url('iconfont.woff?t=1659425018463') format('woff'),
       url('iconfont.ttf?t=1659425018463') format('truetype'),
       url('iconfont.svg?t=1659425018463#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconbaobiaokanban:before {
  content: "\e66b";
}

.iconkanban:before {
  content: "\e638";
}

.iconyunyingkanban:before {
  content: "\e608";
}

.iconshujukanban1:before {
  content: "\eb66";
}

.iconjingqingqidai01:before {
  content: "\e607";
}

.icontouzi:before {
  content: "\e67a";
}

.iconriqi:before {
  content: "\e609";
}

.iconyinleren_:before {
  content: "\e606";
}

.icondapan:before {
  content: "\e668";
}

.iconbangdan:before {
  content: "\e669";
}

.iconshujuwajue:before {
  content: "\e667";
}

.iconshoucang1:before {
  content: "\e600";
}

.icontianjiazhibiao:before {
  content: "\e632";
}

.icontianjiafenzu:before {
  content: "\e666";
}

.iconyouxiajiaogouxuan:before {
  content: "\e8b7";
}

.iconxiaoshouzhibiaoshezhi:before {
  content: "\e665";
}

.iconyingyongbiaoge:before {
  content: "\e6ae";
}

.iconzhibiao:before {
  content: "\e66a";
}

.iconsearch:before {
  content: "\e7c9";
}

.iconfactory-color:before {
  content: "\e69d";
}

.iconportray-color:before {
  content: "\e69e";
}

.iconvisualize-color:before {
  content: "\e69f";
}

.iconamount-color:before {
  content: "\e68f";
}

.iconapi-color:before {
  content: "\e690";
}

.iconcontent-color:before {
  content: "\e691";
}

.iconbox-color:before {
  content: "\e692";
}

.iconchat-color:before {
  content: "\e693";
}

.iconclient-color:before {
  content: "\e694";
}

.icondata-process:before {
  content: "\e695";
}

.iconbi-color:before {
  content: "\e696";
}

.iconfiled-color:before {
  content: "\e697";
}

.iconinvoking-color:before {
  content: "\e698";
}

.iconissue-color:before {
  content: "\e699";
}

.iconplatform-color:before {
  content: "\e69a";
}

.iconfile-color:before {
  content: "\e69b";
}

.iconname-color:before {
  content: "\e69c";
}

.icondraft:before {
  content: "\e605";
}

.iconunknown:before {
  content: "\e604";
}

.iconnormal:before {
  content: "\e603";
}

.iconfreezed:before {
  content: "\e602";
}

.iconlogowenzi:before {
  content: "\e660";
}

.iconlogobiaoshi:before {
  content: "\e664";
}

.iconchaoyinshuxitonglogo:before {
  content: "\e663";
}

.iconzanwuquanxiandianjishenqing_1:before {
  content: "\e662";
}

.iconqingchuangjianmuluhuokanban:before {
  content: "\e661";
}

.iconzichan:before {
  content: "\e65f";
}

.iconhangweifenxi:before {
  content: "\e65e";
}

.iconshujuzichan:before {
  content: "\e65d";
}

.iconshujukanban:before {
  content: "\e659";
}

.iconshujujieru:before {
  content: "\e65a";
}

.iconshujutansuo:before {
  content: "\e65b";
}

.iconminjiefenxi:before {
  content: "\e65c";
}

.iconyanfagongju:before {
  content: "\e658";
}

.iconshujuanquan:before {
  content: "\e614";
}

.iconCE:before {
  content: "\e601";
}

.iconkanbantu-shuaxin:before {
  content: "\e657";
}

.icondaohang-sousuo:before {
  content: "\e63e";
}

.icondaohang-bangzhu:before {
  content: "\e63f";
}

.iconkanbantu-fenxiang:before {
  content: "\e640";
}

.iconquanju-riqi:before {
  content: "\e641";
}

.icondaohang-shezhi:before {
  content: "\e642";
}

.icondaohang-zichangouwuche:before {
  content: "\e643";
}

.iconquanju-xiazai:before {
  content: "\e644";
}

.iconkanbantu-quanping:before {
  content: "\e645";
}

.iconshujuzichan-yewushujuzichan:before {
  content: "\e646";
}

.iconshujukanban-tianjiakanban:before {
  content: "\e647";
}

.iconqingkong:before {
  content: "\e648";
}

.iconshujuzichan-jishushujuzichan:before {
  content: "\e649";
}

.iconshujuzichan-zichanfaxian:before {
  content: "\e64a";
}

.icontishi-beizhu1:before {
  content: "\e64b";
}

.iconshujukanban-tianjiamulu:before {
  content: "\e64c";
}

.icontubiao-zhuzhuangtu:before {
  content: "\e64d";
}

.icondaohang-xiaoxitishi:before {
  content: "\e64e";
}

.icontubiao-bingtu:before {
  content: "\e64f";
}

.icontishi-beizhu2:before {
  content: "\e650";
}

.iconshezhi-quanxianshezhi:before {
  content: "\e651";
}

.iconhangweifenxi-mokuaifenxi:before {
  content: "\e652";
}

.icontubiao-loudoutu:before {
  content: "\e653";
}

.icontubiao-zhexiantu:before {
  content: "\e654";
}

.icontubiao-biaoge:before {
  content: "\e655";
}

.iconhangweifenxi-baobiaoliebiao:before {
  content: "\e656";
}

