<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.supersonic.chat.infrastructure.mapper.ChatQueryDOMapper">
  <resultMap id="BaseResultMap" type="com.tencent.supersonic.chat.domain.dataobject.ChatQueryDO">
    <id column="question_id" jdbcType="BIGINT" property="questionId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="query_state" jdbcType="INTEGER" property="queryState" />
    <result column="chat_id" jdbcType="BIGINT" property="chatId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="feedback" jdbcType="VARCHAR" property="feedback" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tencent.supersonic.chat.domain.dataobject.ChatQueryDO">
    <result column="query_text" jdbcType="LONGVARCHAR" property="queryText" />
    <result column="query_response" jdbcType="LONGVARCHAR" property="queryResponse" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    question_id, create_time, user_name, query_state, chat_id, score, feedback
  </sql>
  <sql id="Blob_Column_List">
    query_text, query_response
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.tencent.supersonic.chat.domain.dataobject.ChatQueryDOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s2_chat_query
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.tencent.supersonic.chat.domain.dataobject.ChatQueryDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from s2_chat_query
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from s2_chat_query
    where question_id = #{questionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s2_chat_query
    where question_id = #{questionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tencent.supersonic.chat.domain.dataobject.ChatQueryDO">
    insert into s2_chat_query (question_id, create_time, user_name, 
      query_state, chat_id, score, 
      feedback, query_text, query_response
      )
    values (#{questionId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{userName,jdbcType=VARCHAR}, 
      #{queryState,jdbcType=INTEGER}, #{chatId,jdbcType=BIGINT}, #{score,jdbcType=INTEGER}, 
      #{feedback,jdbcType=VARCHAR}, #{queryText,jdbcType=LONGVARCHAR}, #{queryResponse,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tencent.supersonic.chat.domain.dataobject.ChatQueryDO">
    insert into s2_chat_query
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionId != null">
        question_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="queryState != null">
        query_state,
      </if>
      <if test="chatId != null">
        chat_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="feedback != null">
        feedback,
      </if>
      <if test="queryText != null">
        query_text,
      </if>
      <if test="queryResponse != null">
        query_response,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionId != null">
        #{questionId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="queryState != null">
        #{queryState,jdbcType=INTEGER},
      </if>
      <if test="chatId != null">
        #{chatId,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="feedback != null">
        #{feedback,jdbcType=VARCHAR},
      </if>
      <if test="queryText != null">
        #{queryText,jdbcType=LONGVARCHAR},
      </if>
      <if test="queryResponse != null">
        #{queryResponse,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tencent.supersonic.chat.domain.dataobject.ChatQueryDOExample" resultType="java.lang.Long">
    select count(*) from s2_chat_query
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.tencent.supersonic.chat.domain.dataobject.ChatQueryDO">
    update s2_chat_query
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="queryState != null">
        query_state = #{queryState,jdbcType=INTEGER},
      </if>
      <if test="chatId != null">
        chat_id = #{chatId,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="feedback != null">
        feedback = #{feedback,jdbcType=VARCHAR},
      </if>
      <if test="queryText != null">
        query_text = #{queryText,jdbcType=LONGVARCHAR},
      </if>
      <if test="queryResponse != null">
        query_response = #{queryResponse,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where question_id = #{questionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tencent.supersonic.chat.domain.dataobject.ChatQueryDO">
    update s2_chat_query
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      user_name = #{userName,jdbcType=VARCHAR},
      query_state = #{queryState,jdbcType=INTEGER},
      chat_id = #{chatId,jdbcType=BIGINT},
      score = #{score,jdbcType=INTEGER},
      feedback = #{feedback,jdbcType=VARCHAR},
      query_text = #{queryText,jdbcType=LONGVARCHAR},
      query_response = #{queryResponse,jdbcType=LONGVARCHAR}
    where question_id = #{questionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tencent.supersonic.chat.domain.dataobject.ChatQueryDO">
    update s2_chat_query
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      user_name = #{userName,jdbcType=VARCHAR},
      query_state = #{queryState,jdbcType=INTEGER},
      chat_id = #{chatId,jdbcType=BIGINT},
      score = #{score,jdbcType=INTEGER},
      feedback = #{feedback,jdbcType=VARCHAR}
    where question_id = #{questionId,jdbcType=BIGINT}
  </update>
</mapper>