.projectBody {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: calc(100vh - 48px);


  .projectManger {
    width: 100%;
    min-height: calc(100vh - 48px);
    // background: #f8f9fb;
    background-color: #fff;
    position: relative;


    .collapseLeftBtn {
      position: absolute;
      top: calc(50% + 45px);
      left: 0;
      z-index: 100;
      display: flex;
      align-items: center;
      height: 70px;
      color: #fff;
      font-size: 12px;
      background-color: rgba(40, 46, 54, 0.2);
      border-radius: 0 24px 24px 0;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .title {
      margin-bottom: 0;
      // padding: 20px;
      font-size: 20px;
      line-height: 34px;
      border-bottom: 1px solid #d9d9d9;
      display: flex;
    }
    .navContainer {
      padding: 20px;
      padding-left: 30px;
    }
    .backBtn {
      background-color: #f8f8f8;
      padding: 5px;
      color: #b0b4bc;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      &:hover {
        background-color: #7599e5;
        color: #fff;
      }
    }
    .tab {
      :global {
        .ant-tabs-tab-btn {
          font-size: 16px;
        }
        .ant-tabs-nav-wrap {
          padding: 0 20px;
        }
        .ant-tabs-nav {
          margin-bottom: 0;
        }
      }
    }
    .chatSettingSectionTab {
      :global {
        .ant-tabs-tab-btn {
          font-size: 14px;
        }
        .ant-tabs-nav-wrap {
          padding: 0;
        }
      }
    }

    .mainTip {
      padding: 20px;
    }

    :global {
      .ant-card-body {
        padding: 0 !important;
      }
      .ant-tabs-content-holder {
        padding-top: 20px;
      }
    }

    .resource {
      display: flex;

      .tree {
        flex: 1;

        .headOperation {
          .btn {
            margin-right: 18px;
          }
        }

        .resourceSearch {
          margin: 10px 0;
        }
      }

      .view {
        width: 480px;
        padding-left: 20px;
      }

      .selectTypesBtn {
        margin-right: 8px;
      }
    }
  }
}

.domainTreeSelect {
  // width: 300px;
}

.domainList {
  display: flex;
  flex-direction: column;
  width: 400px;
  overflow: hidden;
  // min-height: calc(100vh - 48px);
  .addBtn {
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 18px;
    &:hover {
      color: #296DF3;
    }
  }
  .treeTitle {
    margin-bottom: 0;
    padding: 20px;
    line-height: 34px;
    text-align: right;
    background: #fff;
    border-bottom: 1px solid #d9d9d9;

    .title {
      float: left;
    }


  }

  .search {
    width: calc(100% - 20px);
    margin: 10px;
  }

  .tree {
    flex: 1;
    padding: 10px;

    .projectItem {
      display: flex;
      width: 100%;
      cursor: auto;

      .title {
        flex: 1;
        cursor: pointer;
      }

      .operation {
        .icon {
          margin-left: 6px;
          cursor: pointer;
        }
      }
    }
  }
}

.user {
  display: grid;
}

.search{
  width: 50%;
  margin-bottom: 20px;
}

.paramsName{
  margin-right: 10px;
}

.deleteBtn{
  margin-left: 5px;
}

.authBtn{
  cursor: pointer;
}

.selectedResource{
  font-size: 12px;
  color: darkgrey;
  margin-top: 4px;
}


.switch{
  // min-width: 900px;
  // max-width: 1200px;
  // width: 100%;
  display: flex;
  justify-content: flex-start;
  .switchUser {
    width: 200px;
    margin-left: 33px;
    :global {
      .ant-select {
        width: 100% !important;
      }
    }
  }
}

.dimensionIntentionForm {
  margin-bottom: -24px !important;
  margin-top: 10px;
  margin-left: 26px;
}

.classTable {
  :global {
    .ant-pro-table-search-query-filter {
      padding-left: 0 !important;
      // padding-bottom: 24px !important;
      .ant-pro-form-query-filter {
        .ant-form-item {
          // margin-bottom: 0;
        }
      }
    }
    .ant-table-tbody > tr.ant-table-row-selected > td {
      background: none;
    }
  }
}

.classTableSelectColumnAlignLeft {
  :global {
    .ant-table-selection-column {
      text-align: left;
    }
  }
}

.permissionDrawer {
  :global {
    .ant-drawer-body {
      background: #f8f9fb;
    }
  }
}


.domainSelector {
  display: flex;
  width: max-content;
  padding: 0 11px;
  cursor: pointer;
  position: relative;
  // background-color: #fff;
  // border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #000a24d9;
  .downIcon {
    margin-left: 10px;
    font-size: 14px;
  }
  &:hover {
    color:#296DF3;
  }
}

.overviewExtraContainer {
  display: flex;
  font-size: 14px;
  .extraWrapper {
    display: flex;
    width: 100%;
    .extraStatistic {
      display: inline-flex;
      color: rgba(42, 46, 54, 0.65);
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-size: 14px;
      line-height: 1.5714285714285714;
      list-style: none;
      .extraTitle {
        font-size: 12px;
        margin-inline-end: 6px;
        margin-block-end: 0;
        margin-bottom: 4px;
        color: rgba(42, 46, 54, 0.45);
      }
      .extraValue {
        font-size: 12px;
        color: rgba(42, 46, 54, 0.65);
        display: inline-block;
        direction: ltr;
      }
    }
  }
}

.infoTagList{
  .siteTagPlus {
    background: #fff;
    border-style: dashed;
  }
  .editTag {
    user-select: none;
  }
  .tagInput {
    width: 78px;
    margin-right: 8px;
    vertical-align: top;
  }
  [data-theme="dark"] .siteTagPlus {
    background: transparent;
    border-style: dashed;
  }
}

.semanticGraphCanvas {
  position: relative;
  .toolbar{
    position: absolute;
    width: 200px;
    z-index: 999;
    right: 0;
    top: 5px;
  }
  .canvasContainer {
    width: 100%;
  }
}
